/*body {
	background: red;
}*/

* { /* "*" - общий селектор,все что написано - применится ко всему сайту*/
	margin: 0;/*внешний отсуп,отступ от элемента до края странички*/
	padding:0;/*внутренний отступ,отступ между элементами*/
	box-shadow: border-box;/*модель отображение отступов,"бордюр-коробка*/
}

div {
	width: 70%;/*ширина 70% от ширины экрана*/
	margin:auto;/*Автоматические отступы выравни по горизонтали*/
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);/* добавляет тень первые 3 цифры это X Y Z, 4 цифра - то насколько будет выступать rgba - цвет (красный зелёный синий) и прозрачность*/
	padding: 50px;/* Внутренний отступ 50 пикселей*/
}

img {
	max-width: 900px;/*Ширина*/
	height: auto;/*Высота*/
	width: 100%;
	display: block;/*Блочный режим отображения*/
	margin: auto;/*выравнивание отступов*/
	padding: 40px 0 40px 0;
}

p{
	font-size:22px;/*Размер текста*/
	font-family: Helvetica;/*Семейство шрифтов*/
	line-heigt: 1.6;/*Высота строки*/
}

h1{
	font-size: 48px;
	font-family: Helvetica;
	text-align: center; /*Выравнивание текста, по центру*/	
	padding-bottom: 40px;/* Внутренний отсуп снизу*/
}